html {
    font-size: 18px;
    font-family: Helvetica;
}

h1 {
    font-size: 2rem;
    color: white;
}

h3 {
    font-size: 1rem;
    color: white;
}

.container {
    width: 960px;
}


/*-----LOGO BANNER-----*/
.logo-banner {
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
}

.logo-banner .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-banner img {
    height: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;
}

.logo-text {
    text-transform: uppercase;
    margin: 0.66rem 0;
}


/*-----HERO SECTION-----*/
.hero {
    background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg');
    background-size: cover;
    height: 25rem;
    display: flex;
    justify-content: center;
}

.hero-text {
    background-color: black;
    width: 20rem;
    padding: 2rem 3rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 9rem;
}

.hero-text h3 {
    margin-bottom: 0.25rem;
}


/*-----NAVIGATION-----*/
.menu {
    display: none;
}

nav {
    background-color: firebrick;
    display: flex;
    justify-content: center;
}

nav .container {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 0.75rem 0;
}

nav li a {
    color: white;
    text-decoration: none;
}

/*-----PRODUCT GRID-----*/
.main {
    display: flex;
    justify-content: center;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    margin: 3rem auto;
}

.product-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.image-wrapper {
    padding: 2rem;
    border: 4px solid black;
    height: 9rem;
    
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item-heading {
    background-color: black;
    padding: 0.5rem;
    text-align: center;
}

/*-----DETAILS SECTION-----*/
.detail-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-grid-item {
    width: 35%;
    margin-bottom: 4rem;
}
.detail-heading {
    background-color: black;
    padding: 1rem 2rem;
}

.detail-text {
    color: black;
    margin-top: 5px;
}
/*-----FOOTER-----*/
footer {
    display: flex;
    align-items: center;
    background-color: black;
    height: 5rem;
}

/*-----MEDIA QUERIES-----*/
@media only screen and (max-width: 1024px){
    .menu {
        display: flex;
        padding: 0.75rem 0;
    }
    
    nav ul {
        display: none;
    }
    
    .glasses {
        display: none;
    }
    
    .product-grid-item {
        width: 47%;
    }
}

@media only screen and (max-width: 470px) {
    .hero {
        height: 15rem;
    }
    
    .hero-text {
        padding: 1rem 2rem;
        width: 100%;
        margin-top: 10rem''
    }
    
    .hero-text h3 {
        font-size: 0.77rem;
    }
    
    .hero-text h1 {
        font-size: 1rem;
    }
    
    .product-grid {
        justify-content: center;
    }
    
    .product-grid-item {
        width: 90%;
    }
    
    .watch {
        display: none;
    }
    
    .detail-grid {
        flex-direction: column;
        justify-content: center;
    }
    
    .detail-grid-item {
        width: 90%;
        margin: auto;
        margin-bottom: 0.5rem;
    }
    
    footer {
        justify-content: center;
    }
}
